.footer {
    margin-top: 115rem;
    background: #1d1e1e;
    color:#6d6d6d;
    padding-bottom: 40rem;
}

.footer__navigation {
    display: flex;
    border-bottom: 1px solid #6d6d6d;
    padding-top: 64rem;
    justify-content: space-between;
}

.footer__logo-link {
    font-size: 50rem;
    font-family: "pantonBlack";
    margin-bottom: 5rem;
}

.footer__logo-description {
    font-size: 13rem;
    max-width: 200rem;
    margin-bottom: 63rem;
}

.footer__links {
    color:#009be1;
    font-size:12rem;
    text-decoration: underline;
    font-family: "pantonBold";
    margin-bottom: 63rem;
    font-weight: 100
}

.footer__menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80rem;
    
}

.footer__item {
    margin-bottom: 23rem;
    text-transform: uppercase;
  
    font-size: 12rem
}

.footer__item:last-child {
    margin-bottom: 0;
}

.footer__item--heading {
    color:#fff
}

.footer__item-link--mail {
    color:#009be1;
    
    text-decoration: underline;
    text-transform: lowercase

}

.footer__item--adress {

    text-transform: unset
}

.footer__copyright {
    font-size: 12rem
}

.footer__bottom-line {
    margin-top: 50rem;
    display: flex;
    justify-content: space-between;
}

.footer__socials {
    display: flex;
}

.footer__socials-item {
    margin-right: 60rem;
  
  
}

.footer__socials-item:last-child {
    margin-right: 0;

}

.footer__social--vk {
    
    padding:10rem; 
    background:url("../img/vk.png") no-repeat center;
  
    cursor: pointer;
    
    background-size: contain;
}


.footer__social--fb {
    
    padding:5rem; 
    background:url("../img/fb.png") no-repeat center;
  
    cursor: pointer;
    
    background-size: contain;
}


.footer__social--insta {
    
    padding:8rem; 
    background:url("../img/insta.png") no-repeat center;
  
    cursor: pointer;
    
    background-size: contain;
}